/* palette
#646E6E medium slate gray
#8A959A lighter gray
#FEFEFE cream
#473F3A brown
*/

body {
	background:#FEFEFE;
	color:#473F3A;
	font-family:sans-serif;
	width:700px;

}

h1, h2, h3 {
	color:#473F3A; 
	text-decoration:none;
}

	a:link { 
	color: #646E6E;
}

	a:visited {
	color:#8A959A;
}

h1 {	
	font-size:22px;
}

h2 {
	font-size:20px;
}

ul {
	color:blue;
}

p {

}

.spacing {
	margin:10px;
}

#slogan {
	font-size: 18px;
	font-style:italic;
}

#detail {
	font-size:12px;
}


#services {
	margin:auto;
	padding:30px;
	width:200px;
	background-color:#fffccc;
}

