/* 
color palette
#A3A3A6 light gray 163,163,166
#51504B dark gray 81,80,75
#76BBFF light blue 118,187,255
#4F6D9F dark blue 79,109,159
#3E3920 brown/olive  62,57,32
*/

@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,700,200|Gentium+Basic:400,700,400italic);

/* universal selector */

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* selectors */

body {
	color:#51504B; 
	font-family:'Gentium Basic',Garamond,serif;
	font-size:18px;
	width:100%;
	line-height:1.5em;
	background:#fff;
}

a:link { 
	color:#4F6D9F;
}
/*
a:visited {
	color:#76BBFF; 
}

*/
/*div {
	margin:3em auto;
	padding:3em ;
	width:75%;
}
*/

em {
	font-style:italic;
}


h1, h2, h3 {
	/* color:#4F6D9F; */ 
	font-family: 'Work Sans', Helvetica, sans-serif;  
	font-size:22px;
	text-transform:uppercase;
/*	margin: 0 0 1.2em 0;*/
}

h1 {	
	font-size:2em;
}

h2 {
	font-size:1.4em;
}

h3 {
	font-size:1.2em;
}

nav {
	float:left;
	background-color:#A3A3A6;
}


nav a {
/*	padding: 0 0 3px;*/
	margin: 1.8em;
}


nav a:hover {
	background-color:#aaaaaa;

}

nav li {
	bullets:none;
}

p {
	font-size:16px;
	margin:0;
	line-height:1.618em;
}
/* IDs */ 


#detail, #about, #contact {
	background-color:rgba(163,163,166,.5);
	padding:3em ;
	margin:3em auto;
	padding:3em ;
	width:75%;
}

#services, #nav {
	background-color:rgba(79,109,159,.5);
	padding:3em;
	margin:3em auto;
	padding:3em ;
	width:75%;
}

#slogan {
	background-color:rgba(62,57,32,.5);
	padding:3em;
	margin:3em auto;
	padding:3em ;
	width:75%;

}

/* classes */

.attrib {
	font-size:.7em;
	font-style:italic;
	text-align:right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.col {
	margin:.5em auto;
	width:30%;
	padding:2%;
	float:left;
}

.main {
	margin-top:100px;
	clear:both;
}

.nav{
	position:fixed;
	background:#fff;
	width:100%;
	margin-top:0px;

}

.quote {
	font-size:1.5em;
}





