/*butter and bourne stylez 

colourz

yellow - #FFFF99
dark gray - #1A1A0F
med gray yellow - #66663D
lighter gray yellow - #B2B26B

*/

/*

fonts: diner

*/

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

@font-face {
    font-family: 'diner-fattregular';
    src: url('Diner-Fatt-webfont.eot');
    src: url('Diner-Fatt-webfont.eot?#iefix') format('embedded-opentype'),
         url('Diner-Fatt-webfont.woff') format('woff'),
         url('Diner-Fatt-webfont.ttf') format('truetype'),
         url('Diner-Fatt-webfont.svg#diner-fattregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	color:#B2B26B;
}

img {
	width:100%;
}


link	{

yellow background:
dark gray text-align: 

}

body {
	background-color:#FFFF99;
	font-size: 18px
	width:30%;
	font-family:'Droid Serif';
}

h1 {
	font-family: 'Diner-Fatt',Garamond;
	font-size: 2.6em;
}

h2 {
	font-family: 'Diner-Fatt',Garamond;
	font-size: 1.6em;
}

hr {
	width:30%;
	border-top:dotted 2px;
	}

nav a {
	text-decoration:none;
	text-transform:uppercase;
	margin:1em;
	color:#1A1A0F;
	font-size:1.2em;
}

nav a:hover {
	background-color:#B2B26B;
}

.slogan {
	text-align:right;
}

.headline {
	background-image:url(..bnb-assets/bb-eye.png);
}

.image {
	width:100%;
}

.nav {
	float:left;
	list-style:none;
}

.wrapper {
	width:60%;
	margin:0 20% 0 20%;
}