/*

butter and bourne colors

yellow - #FFFF99
dark gray - #1A1A0F
med gray yellow - #66663D
lighter gray yellow - #B2B26B

*/

@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

/* universal selector */

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

a {
	color:#B2B26B;
}

img {
	width:100%;
}

body {
	background-color:#FFFF99;
}


h1 {
	font-family:'Walter Turncoat', sans-serif;
	font-size: 2.6em;
}

h2 {
	font-size: 1.6em;
}

hr {
	width:30%;
	border-top:dotted 2px;
	}

nav a {
	text-transform:uppercase;
	text-decoration:none;
	color:#1A1A0F;
	font-size:1.2em;
}

nav a:hover {
	background-color:#B2B26B;
}

nav li {
	list-style:none;
}

/* classes */

.headerfont {
	font-family:'Walter Turncoat', sans-serif;
}

.slogan {
	text-align:right;
	background-color:#B2B26B;
	clear:both;
}

.image {
	width:100%;
}

.logo {
	background:url(../bnb-assets/bb-eye.png) center left;
	background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
}

.text {
	font-size:20px;
	font-size:18px;
	font-family:'Droid Serif',sans-serif;
	line-height:120%;
	padding:.5em;
}

.textlist {
	font-size:20px;
	font-size:18px;
	font-family:'Droid Serif',sans-serif;
	line-height:120%;
	padding:.5em;
    list-style-type: circle;
}


.wrapper {
	width:60%;
	margin:0 20% 0 20%;
}

/* IDs */


#menu {
	float:left;
	margin: 1em 1em 1em 1em;

}

/* media queries */

@media screen and (min-width: 320px) and (max-width: 768px) {

	body {
		font-size: 16px;
	}

	#menu {
		float:none;
	}

	img {
		display:none;
	}

}
