/*butter and bourne stylez 

colourz

yellow - #FFFF99
dark gray - #1A1A0F
med gray yellow - #66663D
lighter gray yellow - #B2B26B

*/

/*

fonts: diner

*/
link	

yellow background:
dark gray text-align: 

body {
	background-color:#FFFF99;
	font-size: 18px
	margin: 5% 30% 5% 30%;
	position:relative;
	width:30%;
}

h1 {
	font-family: 'diner-fatt',Garamond;
}

hr {
	width:30%;
	height:1em;
}

.nav {
	position:fixed;
}