/* 
color palette
#A3A3A6 light gray 163,163,166
#51504B dark gray 81,80,75
#76BBFF light blue 118,187,255
#4F6D9F dark blue 79,109,159
#3E3920 brown/olive  62,57,32
*/

@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,700,200|Gentium+Basic:400,700,400italic);

/* universal selector */

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* selectors */

body {
	color:#51504B; 
	font-family:'Gentium Basic',Garamond,serif;
	font-size:18px;
	line-height:1.5em;
	background:#fff;
	background-width:100%;
	position:relative;
}

a:link { 
	color:#4F6D9F;
	text-decoration:none;
}

div {
	padding:2% auto;
}

em {
	font-style:italic;
}


h1, h2, h3 {
	color:#4F6D9F; 
	font-family: 'Work Sans', Helvetica, sans-serif;  
	text-transform:uppercase;
	margin: 0 0 .3em 0;
}

h1 {	
	font-size:2em;
}

h2 {
	font-size:1.4em;
}

h3 {
	font-size:1.1em;
}

img { 
	max-width: 100%; 
}

label {
	display:none;
}

nav {

	background-color:#A3A3A6;

}

nav a {
	margin: 1.2em;
}


nav a:hover {
	background-color:#aaaaaa;

}

nav ul {
	list-style:none;
}

nav li {
	display:inline-block;
	line-height:1.2em;
}

p {

	margin:0;
	line-height:1.618em;
}

/*** classes ***/

.attrib {
	font-size:.7em;
	font-style:italic;
	text-align:right;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.col {
	width:30%;
	float:left;
}


.main {

	width:75%;
	margin:5% auto;
	clear:both;
	margin-top:150px;

}

.nav {
	position:fixed;
	width:100%;
}

.quote {
	font-size:1.5em;
}


/*** IDs ***/ 


#detail, #about, #contact {
	background-color:rgba(163,163,166,.5);
	padding: 2% 2% 2% 2%;
	margin-bottom:2%;
}

#input {
	display:none;
}

#menu {
	display:block;
}

#services {
	background-color:rgba(79,109,159,.5);
	padding:2% auto;
	margin:2% auto;
}

#slogan {
	background-color:rgba(62,57,32,.5);
	padding:2%;
	margin-bottom:2%;
}

/*** media queries ***/

@media screen and (min-width: 320px) and (max-width: 768px) {

	body {
		font-size: 16px;
	}

	p {
		font-size: 15px;
	}

	label {
		display:block;
	}

	nav {
		float:none;
	}

	nav li {
		display:block;
	}

	.col {
		float:none;
		width:auto;
	}

.nav {
	position:static;
}

	#input:checked + #menu {
		display:block;
	}

	#menu {
		display:none;
	}
}




